#!/bin/bash
[Desktop Entry]
Type=Application
Exec=gnome-terminal --working-directory=/home/ubuntu/Desktop/dws_record/ -x bash -c "python3 dws_record.py"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=DWS_record
Name=dws_record
Comment[en_NG]=Auto run record
Comment=Auto run record